#remote-control .row {
    margin-bottom: 10px;
}

#remote-control [class*="span"] {
    margin-left: 10px;
}

#remote-control .offset1 {
    margin-left: 80px;
}

#remote-control .btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
#remote-control .colors .btn {
    float: left;
    height: 20px;
    width: 15px;
    margin-right: 10px;
}
#remote-control .colors .btn:last-of-type {
    margin-right: 0;
}