<div>
  <div class="navbar">
    <div class="navbar-inner">
      <span class="brand">Devices</span>
      <ul class="nav">
        <li ng-repeat="device in viewModel.devices" ng-class="{ active: viewModel.selectedDevice == device }">
          <a href="javascript:void(0)" ng-click="viewModel.selectedDevice = device">{{device}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar" ng-controller>
    <div class="navbar-inner">
      <span class="brand">Macros</span>
      <ul class="nav">
        <li>
          <a ng-click="startRecording()">Start</a>
        </li>
        <li>
          <a ng-click="stopRecording()">Stop</a>
        </li>
      </ul>
    </div>
  </div>

  <div id="remote-control" class="hero-unit">

    <div class="row">

      <div class="span3">
        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('POWER')" title="POWER">
              <span class="icon-off"></span>
            </div>
          </div>
          <div class="offset1 span1">
            <div class="btn" ng-click="sendCommand('SOURCE')" title="SOURCE">
              <span class="icon-off"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('SMART')" title="SMART">
              <span class="icon-home"></span>
            </div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('UP')" title="UP">
              <span class="icon-circle-arrow-up"></span>
            </div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('MENU')" title="MENU">
              <span class="icon-list"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('LEFT')" title="LEFT">
              <span class="icon-circle-arrow-left"></span>
            </div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('ENTER')" title="ENTER">
              <span class="icon-share"></span>
            </div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('RIGHT')" title="RIGHT">
              <span class="icon-circle-arrow-right"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('BACK')" title="BACK">
              <span class="icon-arrow-left"></span>
            </div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('DOWN')" title="DOWN">
              <span class="icon-circle-arrow-down"></span>
            </div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('EXIT')" title="EXIT">
              <span class="icon-remove"></span>
            </div>
          </div>
        </div>

      </div>

      <div class="span3">

        <div class="row">
          <div class="span3 colors">
            <div class="btn btn-danger" ng-click="sendCommand('RED')" title="RED"></div>
            <div class="btn btn-warning" ng-click="sendCommand('YELLOW')" title="YELLOW"></div>
            <div class="btn btn-success" ng-click="sendCommand('GREEN')" title="GREEN"></div>
            <div class="btn btn-primary" ng-click="sendCommand('BLUE')" title="BLUE"></div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('1')" title="1">1</div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('2')" title="2">2</div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('3')" title="3">3</div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('4')" title="4">4</div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('5')" title="5">5</div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('6')" title="6">6</div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('7')" title="7">7</div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('8')" title="8">8</div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('9')" title="9">9</div>
          </div>

        </div>

        <div class="row">
          <div class="offset1 span1">
            <div class="btn" ng-click="sendCommand('0')" title="0">0</div>
          </div>

        </div>

      </div>

      <div class="span3">

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('VOLUME_UP')" title="VOLUME_UP"><span class="icon-volume-up"></span></div>
          </div>
          <div class="offset1 span1">
            <div class="btn" ng-click="sendCommand('CHANNEL_UP')" title="CHANNEL_UP"><span class="icon-chevron-up"></span></div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('VOLUME_DOWN')" title="VOLUME_DOWN"><span class="icon-volume-down"></span></div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('MUTE')" title="MUTE"><span class="icon-volume-off"></span></div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('CHANNEL_DOWN')" title="CHANNEL_DOWN"><span class="icon-chevron-down"></span></div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('PLAY')" title="PLAY">
              <span class="icon-play"></span>
            </div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('PAUSE')" title="PAUSE">
              <span class="icon-pause"></span>
            </div>
          </div>
          <div class="span1">
            <div class="btn" ng-click="sendCommand('STOP')" title="STOP">
              <span class="icon-stop"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span1">
            <div class="btn" ng-click="sendCommand('REWIND')" title="REWIND">
              <span class="icon-fast-backward"></span>
            </div>
          </div>
          <div class="offset1 span1">
            <div class="btn" ng-click="sendCommand('FAST_FWD')" title="FAST_FWD">
              <span class="icon-fast-forward"></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="alert" ng-class="{ 'alert-success': message.type == 'stdout', 'alert-error': message.type == 'stderr' }" ng-repeat="message in viewModel.messages track by $id(message + $index)">{{message.text}}</div>
</div>
